input{
    color: darkgrey;
}

body{
    margin: 5%;
}

input.button{
    border-radius: 15px;
    color: gray ;
    border: 2px solid lightseagreen ;
}

h1, h2, h3, h4, h5, h6{
    font-family: Verdana, sans-serif;
    color: darkslategrey;
}

.form-section{
    color: black;
    font-size: 35px;
    margin-bottom: 5px;
}

#title-container{
    text-align: center;
}

footer{
    text-align: center;
}


a:any-link { color: black; }



